/* global.css */

@font-face {
    font-family: 'Cormorant Garamond';
    font-display: swap;
    src: url(../fonts/cormorand/CormorantGaramond-Bold.ttf) format('truetype');
    src: url(../fonts/cormorand/CormorantGaramond-Medium.ttf) format('truetype');
    src: url(../fonts/cormorand/CormorantGaramond-Regular.ttf) format('truetype');
    src: url(../fonts/cormorand/CormorantGaramond-Light.ttf) format('truetype');


}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url(../fonts//roboto/Roboto-Black.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-BlackItalic.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-Bold.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-BoldItalic.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-Italic.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-Light.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-LightItalic.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-Medium.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-MediumItalic.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-Regular.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-Thin.ttf) format('truetype');
    src: url(../fonts//roboto/Roboto-ThinItalic.ttf) format('truetype')
}

/* Establecer Cormorant Garamond como la fuente predeterminada */
body {
    font-family: 'Cormorant Garamond', 'Roboto', serif;
    font-display: swap;
}

/* Asegurarse de que todos los elementos de texto utilicen la fuente deseada */
h1,
h2,
h3,
p,
a {
    font-family: 'Cormorant Garamond', 'Roboto', serif;
}